<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Excel Madness Lab!

_Author:_ Tim Book

## Our Mission
We work for a large supermarket chain, with stores in 10 major cities that happen to coincide with General Assembly campuses. However, this company's idea of a "database" is just a bunch of Excel spreadsheets! In order to analyze our data, we're going to need to process the existing data into a form we can use. **Our end goal is to have one csv per city.**

## Cleanup Duty!
It is a hard truth that data scientists spend a large majority of their time cleaning data. Data never arrives on our desks in exactly the format in which we want it, and it's up to us to transform it to a workable format.

Being good cleaning, moving, and reshaping data is in itself a valuable and employable job skill. If you follow these directions exactly, we will walk through constructing an automated process for processing data from this supermarket chain.

# Part I: Processing

### Step 1: Imports and the `os` library
We're going to import three libraries: numpy, pandas, and `os`.

In [1]:
# Import libraries here.
import numpy as np
import pandas as pd
import os

The `os` library is extremely useful for performing system commands from within Python. Let's get two pieces of overhead out of the way now:

1. Create an `output` folder using `os.mkdir()`
2. Create a variable called `files` that is the list of files in the `data` folder using `os.listdir()`

**WARNING:** The `os.mkdir()` function will give you an error if you try to make a folder that already exists!

In [2]:
# Create an output folder.
#os.mkdir('output')
os.makedirs('output', exist_ok=True)
# Create a files variable that contains all of our data files.
files = os.listdir('data')

### Step 2: Process one data frame
It looks like we have data for the month of January. 31 files of 10 sheets each! Luckily they are all in the same format. So let's read just one in and process that. It might be helpful to open one up in your spreadsheet viewer of choice first (Excel, Numbers, Sheets, etc.)

In [3]:
# Read in data from your city from January 1st.
jan1 = pd.read_excel('data/jan 1.xlsx', sheet_name='Washington, DC')

In [4]:
jan1.head()

   prodcode  price_eu  weight_kg  quantity
0      4011  1.434955   1.125474       182
1      4404  2.882103   1.407820       363
2      4272  0.547080   4.765729       309
3      4131  2.030937   6.794560       354
4      4240  1.658934   2.978144       347

### Step 2a: Convert to 'Merican columns
For whatever reason, our data are stored in euros and kilograms. Create `price_usd` and `weight_lb` columns. There are 2.2 pounds per kilogram, and 1.1 dollars per euro.

In [5]:
jan1['price_usd'] = jan1['price_eu']*1.1
jan1['weight_lb'] = jan1['weight_kg']*2.2

### Step 2b: Merge in product names
You'll notice we also have a `plu-codes.csv` file containing actual product names matched up against their price lookup (PLU) codes. Let's merge these product names onto our Jan 1 data.
* _Hint 1:_ What kind of merge is this? Right, left, inner, outer, etc.?
* _Hint 2:_ Pay special attention to column names!

In [6]:
plu = pd.read_csv("plu-codes.csv")

In [7]:
jan1=jan1.merge(plu, how='right', right_on='plu_code', left_on='prodcode')

### Step 2c: Drop unnecessary columns
We've created some extraneous columns. Drop the old price and weight columns, as well as any redundant columns.

In [8]:
jan1 = jan1.drop(['prodcode', 'weight_kg'], axis=1, inplace=True)

### Step 2d: Add the date
Simply create a new `date` column that is the date this data was collected. For example, if this is from `Jan 1.xlsx`, this column should be full of `Jan 1`.

In [25]:
jan1['date']= 'Jan 1'

TypeError: 'NoneType' object does not support item assignment

### Step 3: Write a function that conducts all of Step 2
This function should import a **filename and a city name** and return a fully processed DataFrame. That is, the function should:
1. Read in the data from the given file and city.
1. Create USD and pound columns.
1. Merge in product names.
1. Drop unnecessary columns.
1. Add a date column

In [10]:
def process_data(file, city):
    df = pd.read_excel(f'data/{file}', sheet_name=city)
    df['price_usd'] = df['price_eu']*1.1
    df['weight_lb'] = df['weight_kg']*2.2
    df = df.merge(plu, how='right', right_on='plu_code', left_on='prodcode')
    df.drop(['prodcode', 'weight_kg'], axis=1, inplace=True)
    df['date']=file.replace('.xlsx', '')
    return df

Test your function out on a new file and city!

In [11]:
process_data('jan 2.xlsx', 'Boston')

     price_eu  quantity  price_usd  weight_lb       product  plu_code   date
0    1.431354       474   1.574489   9.709122  Apple (Fuji)      4131  jan 2
1    1.997363       346   2.197099  20.568416  Apple (Fuji)      4131  jan 2
2    0.611968       185   0.673164  12.056322  Apple (Fuji)      4131  jan 2
3    2.714085       308   2.985494   2.915847  Apple (Fuji)      4131  jan 2
4    0.938751       468   1.032626   8.690139  Apple (Fuji)      4131  jan 2
..        ...       ...        ...        ...           ...       ...    ...
141  2.224353       401   2.446788  10.419089          Pear      4412  jan 2
142  2.465679       329   2.712247  10.411764        Tomato      4796  jan 2
143  1.806993       285   1.987692  10.423876        Tomato      4796  jan 2
144  2.216601       422   2.438261  14.657893        Tomato      4796  jan 2
145  1.958503       174   2.154354  18.893886        Tomato      4796  jan 2

[146 rows x 7 columns]

### Step 4: Process all of January's data
For each spreadsheet, process the data and store the resulting DataFrame in one big list. **You only need to do this for your city!**

* _Hint 1:_ A listcomp would make this whole step one line of code!
* _Hint 2:_ You've already made that `files` variable to help you here.

In [12]:
jan_list = [process_data(file_name, 'Washington, DC') for file_name in files]

### Step 5: Concatenate all DataFrames from Step 4 into one large DataFrame
* _Hint:_ Is there a function in `pandas` that can do something like this for us? This is also just one line of code!

In [13]:
jan_all = pd.concat(jan_list)

### Step 6: Do this for all cities, write data
Here's the big one. For each city, process and the data as in steps 3-5, and then write the data to our `output` folder. Below is a dictionary of city name to desired output file name.

Before writing your DataFrame, do the following:
* Add a `city` column
* Reorder the columns into the following order:


| city | date | product | prodcode | quantity | weight_lb | price_usd |
|---|---|---|---|---|---|---|

* _Hint:_ You can reorder DataFrame columns simply by writing over your DataFrame with itself, but specifying the specific column order with `.loc`. For example:

`print(df)`

| b | c | a |
|---|---|---|
| 1 | 2 | 3 |

`df = df.loc[:, ["a", "b", "c"]]`

`print(df)`

| a | b | c |
|---|---|---|
| 3 | 1 | 2 |

In [14]:
city_dict = {
    "Atlanta": "atl.csv",
    "Austin": "atx.csv",
    "Boston": "bos.csv",
    "Chicago": "chi.csv",
    "Denver": "den.csv",
    "Los Angeles": "lax.csv",
    "New York": "nyc.csv",
    "San Francisco": "sf.csv",
    "Seattle": "sea.csv",
    "Washington, DC": "dc.csv"
}

In [17]:
for key in city_dict:
    print(key)

Atlanta
Austin
Boston
Chicago
Denver
Los Angeles
New York
San Francisco
Seattle
Washington, DC

In [18]:
for value in city_dict.values():
    print(value)

atl.csv
atx.csv
bos.csv
chi.csv
den.csv
lax.csv
nyc.csv
sf.csv
sea.csv
dc.csv

In [19]:
for city, file_name in city_dict.items():
    data_list = [process_data(file, city) for file in files]
    data_all = pd.concat(data_list)
    data_all['city'] = city
    data_all = data_all[['city', 'date', 'product', 'prodcode', 'quantity', 'weight_lb', 'price_usd']]
    
    data_all.to_csv(f'output/{file_name}')

KeyError: "['prodcode'] not in index"

In [ ]:
# Loop through city_dict and carry out Step 6 here.

# The keys of city_dict can serve as the sheet name.
# The values of city_dict are what you should name the output .csv files.
# If done correctly, this cell could take almost a minute to run!

# Part II: Checking our answers 
In steps very similar to the ones conducted above...
1. Loop through the files we just wrote to `output`, and read them in, collecting them all in one list
1. Combine all of those DataFrames into one large DataFrame
1. For each city, find the mean `quantity`, `weight_lb`, and `price_usd`.

If you've done everything correct, your answer should look exactly like this:

![](imgs/correct-output.png)

In [20]:
city_files = os.listdir('output')

In [21]:
city_files

[]

In [22]:
all_cities = pd.concat([pd.read_csv(f"output/{file}") for file in city_files])

ValueError: No objects to concatenate

In [23]:
all_cities.groupby('city')[['quantity', 'weight_lb', 'price_usd']].mean()

NameError: name 'all_cities' is not defined

# Part III (BONUS): Get this process production-ready!
_This part of the lab is optional, but very highly recommended, as the skills developed in this part are extremely common in industry._

For this step, we're going to take this whole process and put it into a production-ready Python script. **ABSOLUTELY NONE OF THIS STEP SHOULD TAKE PLACE IN A JUPYTER NOTEBOOK! PRODUCTIONALIZED ETL (_"Extract, Transform, Load"_) CODE DOES NOT TAKE PLACE IN A JUPYTER NOTEBOOK!**

The instructions are simple: As conducted in this lab, read, transform, and export the data in our Excel files into .csv files. The code should be in a `.py` file and executable from the command line. Here are some hints and tips to guide you:

### Hints, tips, and tricks:
* A good place to start is with the code you've already written. In this notebook, you can click `File > Download as > Python (.py)` to export as a `.py` file. Most of this exercise then comes down to you cleaning this file. (There will be a lot to clean).
* Remember `os.mkdir()` will throw an error if the folder you're trying to make already exists. Maybe you should check to see if it already exists. If it already exists, what should you do? (Remember that `.csv` can be overwritten with no problem.) The functions that can help you with this are all in the `os` library.
* Remember to follow all of the Python best practices we've already learned:
    - All import statements should go at the top of your script.
    - Comment your code. Comments shouldn't explain _what_ code does, but _why_ the code does this.
    - Keep your code DRY (don't repeat yourself) as opposed to WET (write everything twice). All constants should be variables that only need to be changed once. All code should be bottled into functions so you only need to fix it once.
* Make sure not to hardcode "Jan" anywhere. The point is that this code can be run throughout the lifetime of this supermarket's project, which is likely months or years. Keep your code so that if you get February data, you only need to change one tiny piece of the script (probably a file path).